<div id="page-container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ecday.eu/app/uploads/2020/09/website-event-banner-outdoor-sports.png);">
  <div class="container">
    <h1>GEARIFY</h1>
    <h2>for athletes, by athletes</h2>
    <p>Rent the best gear wherever you are, whenever you want. </p>
    <% if user_signed_in? %>
     <%= link_to "Browse Gears", gears_path, class: "btn" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
      <%= link_to "Log in", new_user_session_path, class: "btn" %>
    <% end %>
  </div>
</div>

<div class="categories ">
  <% Gear::CATEGORIES.each do |category| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @category_images[category] %>)">
      <%= link_to titleize(category), gears_path(category: category), class: "cards" %>
    </div>
  <% end %>
</div>
