<h1>New Gear</h1>

<div class="wd-50">
<%= simple_form_for(@gear) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, collection: Gear::CATEGORIES %>
  <%= f.input :price, prompt: "in $" %>
  <%= f.submit %>
<% end %>
</div>

<%= link_to "Cancel - Back to list", gears_path %>