<h1>New Gear</h1>

<div class="wd-50">
<%= simple_form_for(@gear) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
</div>