<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1><%= @gear.name %></h1>
      <img src="<%= @gear.img_url %>" alt="" class="show-image">
      <%# <h3>= @gear.category</h3> %>
      <h3 class="pt-3">$<%= @gear.price %> / day</h3>
      <p class="description">Description: <%= @gear.description %></p>
    </div>
  </div>
</div>
<%# if current user is the owner of the gear, display bookings, else display link_to bookings#new %>
<% if @user == @gear.user %>
    <div class="my-3">
      <%= link_to "Edit", edit_gear_path(@gear), class: "btn-success px-4 py-2 rounded-pill" %>
    </div>
  <h3>My Gear Bookings</h3>
  <ul>
    <% @gear.bookings.each do |booking| %>
      <li><%= booking %></li>
    <% end %>
  </ul>
<% else %>
  <div class="my-3">
  <%= link_to "Book this", new_gear_booking_path(@gear), class: "btn-success px-4 py-2 rounded-pill" %>
  </div>
<% end %>

<%# beelow displays reviews, regardless of user status %>
<ul>
  <% @gear.reviews.each do |review| %>
    <div class="">
      <p><%= review.description %></p>
      <p><%= review.booking.user.first_name %></p>
    </div>
  <% end %>
</ul>
