<div class="container">
  <h1><%= @gear.name %></h1>
  <img src="<%= @gear.img_url %>" alt="" class="show-image"> 
  <%# <h3>= @gear.category</h3> %>
  <h3 class="pt-3">$<%= @gear.price %> / day</h3>
  <p>Description: <%= @gear.description %></p>
</div>
<%# if current user is the owner of the gear, display bookings, else display link_to bookings#new %>
<% if @user == @gear.user %>
    <%= link_to "Edit", edit_gear_path(@gear) %>
  <h3>My Gear Bookings</h3>
  <ul>
    <% @gear.bookings.each do |booking| %>
      <li><%= booking %></li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Book this", new_gear_booking_path(@gear), class: "btn-success p-2 rounded-pill" %>
<% end %>

<%# beelow displays reviews, regardless of user status %>
<ul>
  <% @gear.reviews.each do |review| %>
    <div class="">
      <p><%= review.description %></p>
      <p><%= review.booking.user.first_name %></p>
    </div>
  <% end %>
</ul>
