<h1>New Review</h1>
<h2><%= @booking.gear.user.email %></h2>
<%= simple_form_for [ @booking, @review ] do |f| %>
  <%= f.input :description %>
  <%= f.input :rating %>
  <%= f.submit "Leave review", class: "btn btn-primary" %>
<% end %>
