<!DOCTYPE html>
<html>
  <head>
    <title>Gearify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  </head>

  <body>
  <div id="page-container">
    <div id="content-wrap">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "https://image.freepik.com/free-vector/letter-g-with-love-logo-design_100735-23.jpg" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "List all items", gears_path, class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "My profile", profile_path, class: "dropdown-item" %>
                  <%= link_to "Add a gear", new_gear_path, class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <div class="footer">
      <div class="footer-links">
      Follow our socials
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        <p>Gearify has been created with <i class="fas fa-heart"></i> by Team Concisely</p>
      </div>
    </div>
  </div>
  </body>
</html>
